body, html {
    margin: 0;

}

ul {
    list-style-type: none; /* removes the bullets */
    background: #37474f; /* Sets the background color */
    margin: 0;
    padding: 0;
    overflow: hidden; /* this will hide excess content in box element */
}

li {
    float: left; /* sets all list elements in-line and not in a "stacked manner" */
    border-right: 1px solid white; /* sets a border separator on the right */
}

a {
    display: block; /* converts things into block level elements */
    padding: 25px 112px;
    font-size: 24px;
    color: white;
    text-decoration: none; /* removes the underline on the content */
    font-family: 'Francois One', sans-serif;
}

a:hover:not(.logo) {  /* hover will create a change effect when mouse icon "hovers" over element.  The "not" will select all but the whatever is in the parantheses.  In this example, it will act on all items in our list, but the one with the class logo (.logo) */
    background: #263238;
}

.logo {
    background: #01579B;
}

.fa-building {
    color: #FFEB3B;
}